/* variable settings */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: "Noto Sans TC", "sans-serif", "Microsoft JhengHei";
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.color_primary {
  color: #2eb738; }

.bd-none {
  border: transparent; }

.bg_primary {
  background-color: #2eb738; }

.bg_light {
  background-color: #fff; }

.m-auto {
  margin: auto; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.my-auto {
  margin-top: auto;
  margin-bottom: auto; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.pt-1 {
  padding-top: 1px; }

.pb-1 {
  padding-bottom: 1px; }

.pt-2 {
  padding-top: 2px; }

.pb-2 {
  padding-bottom: 2px; }

.pt-3 {
  padding-top: 3px; }

.pb-3 {
  padding-bottom: 3px; }

.pt-4 {
  padding-top: 4px; }

.pb-4 {
  padding-bottom: 4px; }

.pt-5 {
  padding-top: 5px; }

.pb-5 {
  padding-bottom: 5px; }

.pt-6 {
  padding-top: 6px; }

.pb-6 {
  padding-bottom: 6px; }

.pt-7 {
  padding-top: 7px; }

.pb-7 {
  padding-bottom: 7px; }

.pt-8 {
  padding-top: 8px; }

.pb-8 {
  padding-bottom: 8px; }

.pt-9 {
  padding-top: 9px; }

.pb-9 {
  padding-bottom: 9px; }

.pt-10 {
  padding-top: 10px; }

.pb-10 {
  padding-bottom: 10px; }

.pt-11 {
  padding-top: 11px; }

.pb-11 {
  padding-bottom: 11px; }

.pt-12 {
  padding-top: 12px; }

.pb-12 {
  padding-bottom: 12px; }

.pt-13 {
  padding-top: 13px; }

.pb-13 {
  padding-bottom: 13px; }

.pt-14 {
  padding-top: 14px; }

.pb-14 {
  padding-bottom: 14px; }

.pt-15 {
  padding-top: 15px; }

.pb-15 {
  padding-bottom: 15px; }

.pt-16 {
  padding-top: 16px; }

.pb-16 {
  padding-bottom: 16px; }

.pt-17 {
  padding-top: 17px; }

.pb-17 {
  padding-bottom: 17px; }

.pt-18 {
  padding-top: 18px; }

.pb-18 {
  padding-bottom: 18px; }

.pt-19 {
  padding-top: 19px; }

.pb-19 {
  padding-bottom: 19px; }

.pt-20 {
  padding-top: 20px; }

.pb-20 {
  padding-bottom: 20px; }

.pt-21 {
  padding-top: 21px; }

.pb-21 {
  padding-bottom: 21px; }

.pt-22 {
  padding-top: 22px; }

.pb-22 {
  padding-bottom: 22px; }

.pt-23 {
  padding-top: 23px; }

.pb-23 {
  padding-bottom: 23px; }

.pt-24 {
  padding-top: 24px; }

.pb-24 {
  padding-bottom: 24px; }

.pt-25 {
  padding-top: 25px; }

.pb-25 {
  padding-bottom: 25px; }

.pt-26 {
  padding-top: 26px; }

.pb-26 {
  padding-bottom: 26px; }

.pt-27 {
  padding-top: 27px; }

.pb-27 {
  padding-bottom: 27px; }

.pt-28 {
  padding-top: 28px; }

.pb-28 {
  padding-bottom: 28px; }

.pt-29 {
  padding-top: 29px; }

.pb-29 {
  padding-bottom: 29px; }

.pt-30 {
  padding-top: 30px; }

.pb-30 {
  padding-bottom: 30px; }

.pt-31 {
  padding-top: 31px; }

.pb-31 {
  padding-bottom: 31px; }

.pt-32 {
  padding-top: 32px; }

.pb-32 {
  padding-bottom: 32px; }

.pt-33 {
  padding-top: 33px; }

.pb-33 {
  padding-bottom: 33px; }

.pt-34 {
  padding-top: 34px; }

.pb-34 {
  padding-bottom: 34px; }

.pt-35 {
  padding-top: 35px; }

.pb-35 {
  padding-bottom: 35px; }

.pt-36 {
  padding-top: 36px; }

.pb-36 {
  padding-bottom: 36px; }

.pt-37 {
  padding-top: 37px; }

.pb-37 {
  padding-bottom: 37px; }

.pt-38 {
  padding-top: 38px; }

.pb-38 {
  padding-bottom: 38px; }

.pt-39 {
  padding-top: 39px; }

.pb-39 {
  padding-bottom: 39px; }

.pt-40 {
  padding-top: 40px; }

.pb-40 {
  padding-bottom: 40px; }

.pt-41 {
  padding-top: 41px; }

.pb-41 {
  padding-bottom: 41px; }

.pt-42 {
  padding-top: 42px; }

.pb-42 {
  padding-bottom: 42px; }

.pt-43 {
  padding-top: 43px; }

.pb-43 {
  padding-bottom: 43px; }

.pt-44 {
  padding-top: 44px; }

.pb-44 {
  padding-bottom: 44px; }

.pt-45 {
  padding-top: 45px; }

.pb-45 {
  padding-bottom: 45px; }

.pt-46 {
  padding-top: 46px; }

.pb-46 {
  padding-bottom: 46px; }

.pt-47 {
  padding-top: 47px; }

.pb-47 {
  padding-bottom: 47px; }

.pt-48 {
  padding-top: 48px; }

.pb-48 {
  padding-bottom: 48px; }

.pt-49 {
  padding-top: 49px; }

.pb-49 {
  padding-bottom: 49px; }

.pt-50 {
  padding-top: 50px; }

.pb-50 {
  padding-bottom: 50px; }

.pt-51 {
  padding-top: 51px; }

.pb-51 {
  padding-bottom: 51px; }

.pt-52 {
  padding-top: 52px; }

.pb-52 {
  padding-bottom: 52px; }

.pt-53 {
  padding-top: 53px; }

.pb-53 {
  padding-bottom: 53px; }

.pt-54 {
  padding-top: 54px; }

.pb-54 {
  padding-bottom: 54px; }

.pt-55 {
  padding-top: 55px; }

.pb-55 {
  padding-bottom: 55px; }

.pt-56 {
  padding-top: 56px; }

.pb-56 {
  padding-bottom: 56px; }

.pt-57 {
  padding-top: 57px; }

.pb-57 {
  padding-bottom: 57px; }

.pt-58 {
  padding-top: 58px; }

.pb-58 {
  padding-bottom: 58px; }

.pt-59 {
  padding-top: 59px; }

.pb-59 {
  padding-bottom: 59px; }

.pt-60 {
  padding-top: 60px; }

.pb-60 {
  padding-bottom: 60px; }

.pt-61 {
  padding-top: 61px; }

.pb-61 {
  padding-bottom: 61px; }

.pt-62 {
  padding-top: 62px; }

.pb-62 {
  padding-bottom: 62px; }

.pt-63 {
  padding-top: 63px; }

.pb-63 {
  padding-bottom: 63px; }

.pt-64 {
  padding-top: 64px; }

.pb-64 {
  padding-bottom: 64px; }

.pt-65 {
  padding-top: 65px; }

.pb-65 {
  padding-bottom: 65px; }

.pt-66 {
  padding-top: 66px; }

.pb-66 {
  padding-bottom: 66px; }

.pt-67 {
  padding-top: 67px; }

.pb-67 {
  padding-bottom: 67px; }

.pt-68 {
  padding-top: 68px; }

.pb-68 {
  padding-bottom: 68px; }

.pt-69 {
  padding-top: 69px; }

.pb-69 {
  padding-bottom: 69px; }

.pt-70 {
  padding-top: 70px; }

.pb-70 {
  padding-bottom: 70px; }

.pt-71 {
  padding-top: 71px; }

.pb-71 {
  padding-bottom: 71px; }

.pt-72 {
  padding-top: 72px; }

.pb-72 {
  padding-bottom: 72px; }

.pt-73 {
  padding-top: 73px; }

.pb-73 {
  padding-bottom: 73px; }

.pt-74 {
  padding-top: 74px; }

.pb-74 {
  padding-bottom: 74px; }

.pt-75 {
  padding-top: 75px; }

.pb-75 {
  padding-bottom: 75px; }

.pt-76 {
  padding-top: 76px; }

.pb-76 {
  padding-bottom: 76px; }

.pt-77 {
  padding-top: 77px; }

.pb-77 {
  padding-bottom: 77px; }

.pt-78 {
  padding-top: 78px; }

.pb-78 {
  padding-bottom: 78px; }

.pt-79 {
  padding-top: 79px; }

.pb-79 {
  padding-bottom: 79px; }

.pt-80 {
  padding-top: 80px; }

.pb-80 {
  padding-bottom: 80px; }

.pt-81 {
  padding-top: 81px; }

.pb-81 {
  padding-bottom: 81px; }

.pt-82 {
  padding-top: 82px; }

.pb-82 {
  padding-bottom: 82px; }

.pt-83 {
  padding-top: 83px; }

.pb-83 {
  padding-bottom: 83px; }

.pt-84 {
  padding-top: 84px; }

.pb-84 {
  padding-bottom: 84px; }

.pt-85 {
  padding-top: 85px; }

.pb-85 {
  padding-bottom: 85px; }

.pt-86 {
  padding-top: 86px; }

.pb-86 {
  padding-bottom: 86px; }

.pt-87 {
  padding-top: 87px; }

.pb-87 {
  padding-bottom: 87px; }

.pt-88 {
  padding-top: 88px; }

.pb-88 {
  padding-bottom: 88px; }

.pt-89 {
  padding-top: 89px; }

.pb-89 {
  padding-bottom: 89px; }

.pt-90 {
  padding-top: 90px; }

.pb-90 {
  padding-bottom: 90px; }

.pt-91 {
  padding-top: 91px; }

.pb-91 {
  padding-bottom: 91px; }

.pt-92 {
  padding-top: 92px; }

.pb-92 {
  padding-bottom: 92px; }

.pt-93 {
  padding-top: 93px; }

.pb-93 {
  padding-bottom: 93px; }

.pt-94 {
  padding-top: 94px; }

.pb-94 {
  padding-bottom: 94px; }

.pt-95 {
  padding-top: 95px; }

.pb-95 {
  padding-bottom: 95px; }

.pt-96 {
  padding-top: 96px; }

.pb-96 {
  padding-bottom: 96px; }

.pt-97 {
  padding-top: 97px; }

.pb-97 {
  padding-bottom: 97px; }

.pt-98 {
  padding-top: 98px; }

.pb-98 {
  padding-bottom: 98px; }

.pt-99 {
  padding-top: 99px; }

.pb-99 {
  padding-bottom: 99px; }

.pt-100 {
  padding-top: 100px; }

.pb-100 {
  padding-bottom: 100px; }

.mt-1 {
  margin-top: 1px; }

.mb-1 {
  margin-bottom: 1px; }

.my-1 {
  margin-top: 1px;
  margin-bottom: 1px; }

.mt-2 {
  margin-top: 2px; }

.mb-2 {
  margin-bottom: 2px; }

.my-2 {
  margin-top: 2px;
  margin-bottom: 2px; }

.mt-3 {
  margin-top: 3px; }

.mb-3 {
  margin-bottom: 3px; }

.my-3 {
  margin-top: 3px;
  margin-bottom: 3px; }

.mt-4 {
  margin-top: 4px; }

.mb-4 {
  margin-bottom: 4px; }

.my-4 {
  margin-top: 4px;
  margin-bottom: 4px; }

.mt-5 {
  margin-top: 5px; }

.mb-5 {
  margin-bottom: 5px; }

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.mt-6 {
  margin-top: 6px; }

.mb-6 {
  margin-bottom: 6px; }

.my-6 {
  margin-top: 6px;
  margin-bottom: 6px; }

.mt-7 {
  margin-top: 7px; }

.mb-7 {
  margin-bottom: 7px; }

.my-7 {
  margin-top: 7px;
  margin-bottom: 7px; }

.mt-8 {
  margin-top: 8px; }

.mb-8 {
  margin-bottom: 8px; }

.my-8 {
  margin-top: 8px;
  margin-bottom: 8px; }

.mt-9 {
  margin-top: 9px; }

.mb-9 {
  margin-bottom: 9px; }

.my-9 {
  margin-top: 9px;
  margin-bottom: 9px; }

.mt-10 {
  margin-top: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.mt-11 {
  margin-top: 11px; }

.mb-11 {
  margin-bottom: 11px; }

.my-11 {
  margin-top: 11px;
  margin-bottom: 11px; }

.mt-12 {
  margin-top: 12px; }

.mb-12 {
  margin-bottom: 12px; }

.my-12 {
  margin-top: 12px;
  margin-bottom: 12px; }

.mt-13 {
  margin-top: 13px; }

.mb-13 {
  margin-bottom: 13px; }

.my-13 {
  margin-top: 13px;
  margin-bottom: 13px; }

.mt-14 {
  margin-top: 14px; }

.mb-14 {
  margin-bottom: 14px; }

.my-14 {
  margin-top: 14px;
  margin-bottom: 14px; }

.mt-15 {
  margin-top: 15px; }

.mb-15 {
  margin-bottom: 15px; }

.my-15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.mt-16 {
  margin-top: 16px; }

.mb-16 {
  margin-bottom: 16px; }

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px; }

.mt-17 {
  margin-top: 17px; }

.mb-17 {
  margin-bottom: 17px; }

.my-17 {
  margin-top: 17px;
  margin-bottom: 17px; }

.mt-18 {
  margin-top: 18px; }

.mb-18 {
  margin-bottom: 18px; }

.my-18 {
  margin-top: 18px;
  margin-bottom: 18px; }

.mt-19 {
  margin-top: 19px; }

.mb-19 {
  margin-bottom: 19px; }

.my-19 {
  margin-top: 19px;
  margin-bottom: 19px; }

.mt-20 {
  margin-top: 20px; }

.mb-20 {
  margin-bottom: 20px; }

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.mt-21 {
  margin-top: 21px; }

.mb-21 {
  margin-bottom: 21px; }

.my-21 {
  margin-top: 21px;
  margin-bottom: 21px; }

.mt-22 {
  margin-top: 22px; }

.mb-22 {
  margin-bottom: 22px; }

.my-22 {
  margin-top: 22px;
  margin-bottom: 22px; }

.mt-23 {
  margin-top: 23px; }

.mb-23 {
  margin-bottom: 23px; }

.my-23 {
  margin-top: 23px;
  margin-bottom: 23px; }

.mt-24 {
  margin-top: 24px; }

.mb-24 {
  margin-bottom: 24px; }

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px; }

.mt-25 {
  margin-top: 25px; }

.mb-25 {
  margin-bottom: 25px; }

.my-25 {
  margin-top: 25px;
  margin-bottom: 25px; }

.mt-26 {
  margin-top: 26px; }

.mb-26 {
  margin-bottom: 26px; }

.my-26 {
  margin-top: 26px;
  margin-bottom: 26px; }

.mt-27 {
  margin-top: 27px; }

.mb-27 {
  margin-bottom: 27px; }

.my-27 {
  margin-top: 27px;
  margin-bottom: 27px; }

.mt-28 {
  margin-top: 28px; }

.mb-28 {
  margin-bottom: 28px; }

.my-28 {
  margin-top: 28px;
  margin-bottom: 28px; }

.mt-29 {
  margin-top: 29px; }

.mb-29 {
  margin-bottom: 29px; }

.my-29 {
  margin-top: 29px;
  margin-bottom: 29px; }

.mt-30 {
  margin-top: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.mt-31 {
  margin-top: 31px; }

.mb-31 {
  margin-bottom: 31px; }

.my-31 {
  margin-top: 31px;
  margin-bottom: 31px; }

.mt-32 {
  margin-top: 32px; }

.mb-32 {
  margin-bottom: 32px; }

.my-32 {
  margin-top: 32px;
  margin-bottom: 32px; }

.mt-33 {
  margin-top: 33px; }

.mb-33 {
  margin-bottom: 33px; }

.my-33 {
  margin-top: 33px;
  margin-bottom: 33px; }

.mt-34 {
  margin-top: 34px; }

.mb-34 {
  margin-bottom: 34px; }

.my-34 {
  margin-top: 34px;
  margin-bottom: 34px; }

.mt-35 {
  margin-top: 35px; }

.mb-35 {
  margin-bottom: 35px; }

.my-35 {
  margin-top: 35px;
  margin-bottom: 35px; }

.mt-36 {
  margin-top: 36px; }

.mb-36 {
  margin-bottom: 36px; }

.my-36 {
  margin-top: 36px;
  margin-bottom: 36px; }

.mt-37 {
  margin-top: 37px; }

.mb-37 {
  margin-bottom: 37px; }

.my-37 {
  margin-top: 37px;
  margin-bottom: 37px; }

.mt-38 {
  margin-top: 38px; }

.mb-38 {
  margin-bottom: 38px; }

.my-38 {
  margin-top: 38px;
  margin-bottom: 38px; }

.mt-39 {
  margin-top: 39px; }

.mb-39 {
  margin-bottom: 39px; }

.my-39 {
  margin-top: 39px;
  margin-bottom: 39px; }

.mt-40 {
  margin-top: 40px; }

.mb-40 {
  margin-bottom: 40px; }

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.mt-41 {
  margin-top: 41px; }

.mb-41 {
  margin-bottom: 41px; }

.my-41 {
  margin-top: 41px;
  margin-bottom: 41px; }

.mt-42 {
  margin-top: 42px; }

.mb-42 {
  margin-bottom: 42px; }

.my-42 {
  margin-top: 42px;
  margin-bottom: 42px; }

.mt-43 {
  margin-top: 43px; }

.mb-43 {
  margin-bottom: 43px; }

.my-43 {
  margin-top: 43px;
  margin-bottom: 43px; }

.mt-44 {
  margin-top: 44px; }

.mb-44 {
  margin-bottom: 44px; }

.my-44 {
  margin-top: 44px;
  margin-bottom: 44px; }

.mt-45 {
  margin-top: 45px; }

.mb-45 {
  margin-bottom: 45px; }

.my-45 {
  margin-top: 45px;
  margin-bottom: 45px; }

.mt-46 {
  margin-top: 46px; }

.mb-46 {
  margin-bottom: 46px; }

.my-46 {
  margin-top: 46px;
  margin-bottom: 46px; }

.mt-47 {
  margin-top: 47px; }

.mb-47 {
  margin-bottom: 47px; }

.my-47 {
  margin-top: 47px;
  margin-bottom: 47px; }

.mt-48 {
  margin-top: 48px; }

.mb-48 {
  margin-bottom: 48px; }

.my-48 {
  margin-top: 48px;
  margin-bottom: 48px; }

.mt-49 {
  margin-top: 49px; }

.mb-49 {
  margin-bottom: 49px; }

.my-49 {
  margin-top: 49px;
  margin-bottom: 49px; }

.mt-50 {
  margin-top: 50px; }

.mb-50 {
  margin-bottom: 50px; }

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px; }

.mt-51 {
  margin-top: 51px; }

.mb-51 {
  margin-bottom: 51px; }

.my-51 {
  margin-top: 51px;
  margin-bottom: 51px; }

.mt-52 {
  margin-top: 52px; }

.mb-52 {
  margin-bottom: 52px; }

.my-52 {
  margin-top: 52px;
  margin-bottom: 52px; }

.mt-53 {
  margin-top: 53px; }

.mb-53 {
  margin-bottom: 53px; }

.my-53 {
  margin-top: 53px;
  margin-bottom: 53px; }

.mt-54 {
  margin-top: 54px; }

.mb-54 {
  margin-bottom: 54px; }

.my-54 {
  margin-top: 54px;
  margin-bottom: 54px; }

.mt-55 {
  margin-top: 55px; }

.mb-55 {
  margin-bottom: 55px; }

.my-55 {
  margin-top: 55px;
  margin-bottom: 55px; }

.mt-56 {
  margin-top: 56px; }

.mb-56 {
  margin-bottom: 56px; }

.my-56 {
  margin-top: 56px;
  margin-bottom: 56px; }

.mt-57 {
  margin-top: 57px; }

.mb-57 {
  margin-bottom: 57px; }

.my-57 {
  margin-top: 57px;
  margin-bottom: 57px; }

.mt-58 {
  margin-top: 58px; }

.mb-58 {
  margin-bottom: 58px; }

.my-58 {
  margin-top: 58px;
  margin-bottom: 58px; }

.mt-59 {
  margin-top: 59px; }

.mb-59 {
  margin-bottom: 59px; }

.my-59 {
  margin-top: 59px;
  margin-bottom: 59px; }

.mt-60 {
  margin-top: 60px; }

.mb-60 {
  margin-bottom: 60px; }

.my-60 {
  margin-top: 60px;
  margin-bottom: 60px; }

.mt-61 {
  margin-top: 61px; }

.mb-61 {
  margin-bottom: 61px; }

.my-61 {
  margin-top: 61px;
  margin-bottom: 61px; }

.mt-62 {
  margin-top: 62px; }

.mb-62 {
  margin-bottom: 62px; }

.my-62 {
  margin-top: 62px;
  margin-bottom: 62px; }

.mt-63 {
  margin-top: 63px; }

.mb-63 {
  margin-bottom: 63px; }

.my-63 {
  margin-top: 63px;
  margin-bottom: 63px; }

.mt-64 {
  margin-top: 64px; }

.mb-64 {
  margin-bottom: 64px; }

.my-64 {
  margin-top: 64px;
  margin-bottom: 64px; }

.mt-65 {
  margin-top: 65px; }

.mb-65 {
  margin-bottom: 65px; }

.my-65 {
  margin-top: 65px;
  margin-bottom: 65px; }

.mt-66 {
  margin-top: 66px; }

.mb-66 {
  margin-bottom: 66px; }

.my-66 {
  margin-top: 66px;
  margin-bottom: 66px; }

.mt-67 {
  margin-top: 67px; }

.mb-67 {
  margin-bottom: 67px; }

.my-67 {
  margin-top: 67px;
  margin-bottom: 67px; }

.mt-68 {
  margin-top: 68px; }

.mb-68 {
  margin-bottom: 68px; }

.my-68 {
  margin-top: 68px;
  margin-bottom: 68px; }

.mt-69 {
  margin-top: 69px; }

.mb-69 {
  margin-bottom: 69px; }

.my-69 {
  margin-top: 69px;
  margin-bottom: 69px; }

.mt-70 {
  margin-top: 70px; }

.mb-70 {
  margin-bottom: 70px; }

.my-70 {
  margin-top: 70px;
  margin-bottom: 70px; }

.mt-71 {
  margin-top: 71px; }

.mb-71 {
  margin-bottom: 71px; }

.my-71 {
  margin-top: 71px;
  margin-bottom: 71px; }

.mt-72 {
  margin-top: 72px; }

.mb-72 {
  margin-bottom: 72px; }

.my-72 {
  margin-top: 72px;
  margin-bottom: 72px; }

.mt-73 {
  margin-top: 73px; }

.mb-73 {
  margin-bottom: 73px; }

.my-73 {
  margin-top: 73px;
  margin-bottom: 73px; }

.mt-74 {
  margin-top: 74px; }

.mb-74 {
  margin-bottom: 74px; }

.my-74 {
  margin-top: 74px;
  margin-bottom: 74px; }

.mt-75 {
  margin-top: 75px; }

.mb-75 {
  margin-bottom: 75px; }

.my-75 {
  margin-top: 75px;
  margin-bottom: 75px; }

.mt-76 {
  margin-top: 76px; }

.mb-76 {
  margin-bottom: 76px; }

.my-76 {
  margin-top: 76px;
  margin-bottom: 76px; }

.mt-77 {
  margin-top: 77px; }

.mb-77 {
  margin-bottom: 77px; }

.my-77 {
  margin-top: 77px;
  margin-bottom: 77px; }

.mt-78 {
  margin-top: 78px; }

.mb-78 {
  margin-bottom: 78px; }

.my-78 {
  margin-top: 78px;
  margin-bottom: 78px; }

.mt-79 {
  margin-top: 79px; }

.mb-79 {
  margin-bottom: 79px; }

.my-79 {
  margin-top: 79px;
  margin-bottom: 79px; }

.mt-80 {
  margin-top: 80px; }

.mb-80 {
  margin-bottom: 80px; }

.my-80 {
  margin-top: 80px;
  margin-bottom: 80px; }

.mt-81 {
  margin-top: 81px; }

.mb-81 {
  margin-bottom: 81px; }

.my-81 {
  margin-top: 81px;
  margin-bottom: 81px; }

.mt-82 {
  margin-top: 82px; }

.mb-82 {
  margin-bottom: 82px; }

.my-82 {
  margin-top: 82px;
  margin-bottom: 82px; }

.mt-83 {
  margin-top: 83px; }

.mb-83 {
  margin-bottom: 83px; }

.my-83 {
  margin-top: 83px;
  margin-bottom: 83px; }

.mt-84 {
  margin-top: 84px; }

.mb-84 {
  margin-bottom: 84px; }

.my-84 {
  margin-top: 84px;
  margin-bottom: 84px; }

.mt-85 {
  margin-top: 85px; }

.mb-85 {
  margin-bottom: 85px; }

.my-85 {
  margin-top: 85px;
  margin-bottom: 85px; }

.mt-86 {
  margin-top: 86px; }

.mb-86 {
  margin-bottom: 86px; }

.my-86 {
  margin-top: 86px;
  margin-bottom: 86px; }

.mt-87 {
  margin-top: 87px; }

.mb-87 {
  margin-bottom: 87px; }

.my-87 {
  margin-top: 87px;
  margin-bottom: 87px; }

.mt-88 {
  margin-top: 88px; }

.mb-88 {
  margin-bottom: 88px; }

.my-88 {
  margin-top: 88px;
  margin-bottom: 88px; }

.mt-89 {
  margin-top: 89px; }

.mb-89 {
  margin-bottom: 89px; }

.my-89 {
  margin-top: 89px;
  margin-bottom: 89px; }

.mt-90 {
  margin-top: 90px; }

.mb-90 {
  margin-bottom: 90px; }

.my-90 {
  margin-top: 90px;
  margin-bottom: 90px; }

.mt-91 {
  margin-top: 91px; }

.mb-91 {
  margin-bottom: 91px; }

.my-91 {
  margin-top: 91px;
  margin-bottom: 91px; }

.mt-92 {
  margin-top: 92px; }

.mb-92 {
  margin-bottom: 92px; }

.my-92 {
  margin-top: 92px;
  margin-bottom: 92px; }

.mt-93 {
  margin-top: 93px; }

.mb-93 {
  margin-bottom: 93px; }

.my-93 {
  margin-top: 93px;
  margin-bottom: 93px; }

.mt-94 {
  margin-top: 94px; }

.mb-94 {
  margin-bottom: 94px; }

.my-94 {
  margin-top: 94px;
  margin-bottom: 94px; }

.mt-95 {
  margin-top: 95px; }

.mb-95 {
  margin-bottom: 95px; }

.my-95 {
  margin-top: 95px;
  margin-bottom: 95px; }

.mt-96 {
  margin-top: 96px; }

.mb-96 {
  margin-bottom: 96px; }

.my-96 {
  margin-top: 96px;
  margin-bottom: 96px; }

.mt-97 {
  margin-top: 97px; }

.mb-97 {
  margin-bottom: 97px; }

.my-97 {
  margin-top: 97px;
  margin-bottom: 97px; }

.mt-98 {
  margin-top: 98px; }

.mb-98 {
  margin-bottom: 98px; }

.my-98 {
  margin-top: 98px;
  margin-bottom: 98px; }

.mt-99 {
  margin-top: 99px; }

.mb-99 {
  margin-bottom: 99px; }

.my-99 {
  margin-top: 99px;
  margin-bottom: 99px; }

.mt-100 {
  margin-top: 100px; }

.mb-100 {
  margin-bottom: 100px; }

.my-100 {
  margin-top: 100px;
  margin-bottom: 100px; }

html, body {
  background-color: #f0f0f0; }

.multiplication_table-container {
  width: 1280px;
  height: 1372px; }

.multiplication_table__title-container {
  width: 350px;
  height: 366px; }

.multiplication_table__title {
  position: relative;
  border-top: 1px solid #2eb738;
  border-bottom: 1px solid #2eb738;
  width: 90%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .multiplication_table__title .maintitle {
    font-size: 56px;
    margin: 0; }
  .multiplication_table__title .subtitle {
    font-size: 24px;
    margin: 0; }
  .multiplication_table__title .decoration-line {
    width: 100%;
    font-size: 0;
    position: absolute; }
    .multiplication_table__title .decoration-line:first-of-type {
      position: absolute;
      top: -12px; }
    .multiplication_table__title .decoration-line:last-of-type {
      position: absolute;
      bottom: 12px; }
    .multiplication_table__title .decoration-line::before {
      content: "x";
      font-size: 14px;
      display: inline-block;
      position: absolute;
      color: #2eb738;
      width: 14px;
      height: 14px;
      left: -20px; }
    .multiplication_table__title .decoration-line::after {
      content: "x";
      font-size: 14px;
      display: inline-block;
      position: absolute;
      color: #2eb738;
      width: 14px;
      height: 14px;
      right: -20px; }

.multiplication_table__item-container {
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.multiplication_table__item {
  width: 350px;
  height: 366px;
  text-align: center;
  border-radius: 100px 0 30px 0;
  -webkit-box-shadow: 0 3px 10px #d8d8d8;
  box-shadow: 0 3px 10px #d8d8d8; }
  .multiplication_table__item-title {
    width: 105px;
    font-size: 94px;
    font-weight: bold;
    margin-top: 14px;
    text-shadow: 4px 3px 0px #f0f0f0; }
  .multiplication_table__item__num {
    width: 105px;
    height: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
    font-weight: 500;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    font-size: 18px; }

.multiplication_table__item:nth-of-type(2n + 2) {
  margin-left: 30px;
  margin-right: 30px; }

.copyright {
  color: #fff;
  height: 34px;
  line-height: 34px;
  text-align: right;
  padding-right: 85px;
  margin: 0; }
